body {
  font-family: Arial, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* background-color: #2f2f2f; */
  cursor: pointer;
}

.cell:hover {
  /* background-color: #8c8c8c; */
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fruit-label {
  margin-top: 5px;
  text-align: center;
  font-size: 2rem;
}
